@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background-color:thistle;
}

.header{
    padding: 30px;
    background-color:powderblue;
    text-align: center;
    font-family: 'Source Code Pro', monospace;
}

.header h1{
    font-size: 50px;
}

.topnav{
    /* position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 50px; */
    overflow: hidden;
    background-color: #333;
}

.topnav a{
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.topnav a:hover{
    background-color: #ddd;
    color: black;
}


.logo img{
    width: 130px;
    height:130px;
    float: left;
  }

.leftcolumn{
    float:left;
    width: 75%;
}

.rightcolumn{
    float: left;
    width:25%;
    padding-left: 20px;
}

img{
    width: 100%;
    padding: 20px;
}

.card{
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

.row:after{
    content: "";
    display: table;
    clear: both;
}

.footer{
    padding: 20px;
    text-align: center;
    background-color: #ddd;
    margin-top: 20px;
}

@media screen and (max-width: 800px){
    .leftcolumn, .rightcolumn{
        width: 100%;
        padding: 0;
    }
}

@media screen and (max-width: 400px){
    .topnav a{
        float: none;
        width: 100%;
    }
}
